<!-- start profile/main.html -->
<div class="heading">
	<h1>Profile</h1>
</div>

<div class="well">
	<div class="row">
		<div class="col-md-3">
			<tabset vertical="true" type="pills">
				<tab heading="Details" href="profile.details" ui-sref-active="active" ui-sref="profile.details"></tab>
				<tab heading="Options" href="profile.options" ui-sref-active="active" ui-sref="profile.options"></tab>
			</tabset>
		</div>
		<div class="col-md-9">
			<div ui-view=""></div>
		</div>
	</div>
</div>
<!-- end profile/main.html -->


