<!-- start about/main.html -->
<div class="heading">
    <h1>About</h1>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">

                <li role="presentation" ui-sref-active="active" ui-sref="about.theApp">
                    <a href="about.theApp" tooltip-placement="bottom" tooltip="The Application">
                        <img class="nav-img img-circle center-block img-thumbnail img-responsive" src="images/Fruit-and-vegetables.jpg">
                    </a>
                </li>
                <li role="presentation" ui-sref-active="active" ui-sref="about.wasfi">
                    <a href="about.wasfi" tooltip-placement="bottom" tooltip="Mohamed Wasfi">
                        <img class="nav-img img-circle center-block img-thumbnail img-responsive" src="images/wasfi.jpg">
                    </a>
                </li>
                <li role="presentation" ui-sref-active="active" ui-sref="about.amanda">
                    <a href="about.amanda" tooltip-placement="bottom" tooltip="Amanda Durkan">
                        <img class="nav-img img-circle center-block img-thumbnail img-responsive" src="images/amanda.jpg">
                    </a>
                </li>
                <li role="presentation" ui-sref-active="active" ui-sref="about.marco">
                    <a href="about.marco" tooltip-placement="bottom" tooltip="Marco Tsitselis">
                        <img class="nav-img img-circle center-block img-thumbnail img-responsive" src="images/marco.jpg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div ui-view=""></div>
        </div>
    </div>
</div>
<!-- end about/main.html -->

