<!-- start about/main.html -->
<div class="heading">
    <h1>About</h1>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
				<sm-img-pills link="about.theApp" text="The Application" img="/images/Fruit-and-vegetables.jpg"></sm-img-pills>
				<sm-img-pills link="about.wasfi" text="Mohamed Wasfi" img="/images/wasfi.jpg"></sm-img-pills>
				<sm-img-pills link="about.amanda" text="Amanda Durkan" img="/images/amanda.jpg"></sm-img-pills>
				<sm-img-pills link="about.marco" text="Marco Tsitselis" img="/images/marco.jpg"></sm-img-pills>
            </ul>
        </div>
        <div class="col-md-9">
            <div ui-view=""></div>
        </div>
    </div>
</div>
<!-- end about/main.html -->

