<h1>What is the app?</h1>
<p>This application is designed to show you the best deals around. You tell us where you are, and what you want to buy and we'll tell you the best place to go to get the best deals.</p>
<p>We are currently integrated with:</p>
<ul>
	<li>SuperValu</li>
	<li>Tesco</li>
	<li>Dunnes Stores</li>
	<li>Aldi</li>
	<li>Lidl</li>
	<li>Marks and Spencer</li>
</ul>
<p>If you own a store and would like to be integrated with us, get in contact</p>
<h1>Who is this app for?</h1>
<p>This application is for anybody who wants to save some money on their shopping. Doesn't matter if you're young or old, rich or poor, drunk or sober, we'll find the best deals around</p>
<h1>Which locations is the app optimised for?</h1>
<p>We are currently for use Ireland-wide. If you would like to see the application available in your region, get in contact</p>
<h1>Why did we build the app?</h1>
<p>Once upon a time, Wasfi was hungry. He wanted to get some yummy salad in his tummy, but knowing that salad doesn't grow on trees, Wasfi wanted to shop around. Not finding a single, unified place to compare the prices of his shopping list, he had an "Aha!" moment, and the site you see before you was born.</p>

