<h1>Mohamed Wasfi <small>Backend Engineer</small></h1>
<p>Mohamed, or Wasfi as he likes to be called, is a cool cat. Friends call him "Fifi". You can call him Fifi too, but be prepared to be given a nickname of your own</p>
<p>Once upon a time, Wasfi was hungry. He wanted to get some yummy salad in his tummy, but knowing that salad doesn't grow on trees, Wasfi wanted to shop around. Not finding a single, unified place to compare the prices of his shopping list, he had an "Aha!" moment, and the site you see before you was born.</p>
<p>In his spare time, Wasfi likes to go on blister-inducing walks from coastal town to coastal town. He is also an avid collector of sci-fi/fantasy memorabilia. As soon as he gets his hands on Superman's undepants, his collection will be complete</p>
<p>Wasfi is the brains behind the backend technologies. Want more info about how the backend was built? Get in contact</p>
<p>Wanna know more about Wasfi? Check out his <a href="https://www.linkedin.com/profile/view?id=45302540">LinkedIn profile</a></p>
