<div class="text-right status-buttons">
	<a ui-sref-active="active" ui-sref="home.location"><span>1</span></a>
	<a ui-sref-active="active" ui-sref="home.shoppinglist"><span>2</span></a>
</div>
<div class="form-group">
	<label for="location" class="text-left">Tell us where you are</label>
	<input type="text" id="location" name="location" placeholder="Clontarf" ng-model="formData.location" typeahead-on-select="itemSelected()" typeahead-wait-ms="500" typeahead="address as address.formatted_address for address in getLocation($viewValue)" class="form-control">
</div>
<a class="btn btn-lg btn-block btn-info" ng-show="supportsGeo" ng-hide="formData.location.lat" ng-click="getGeoLocation()" href="#" role="button">
	<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Or let us find your location
</a>
<p ng-hide="!statusMessage" class="alert alert-info errormessage" >
	<span class="glyphicon glyphicon-refresh spinning" aria-hidden="true"></span> {{statusMessage}}
</p>
<p ng-hide="errormessage === null" ng-hide="formData.location.lat" class="alert alert-danger errormessage" >
	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span> {{errormessage}}
</p>
<a ui-sref="home.shoppinglist" ng-show="formData.location.lat" class="btn btn-lg btn-block btn-primary">
	Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>
