<div class="row">
    <div class="col-md-6 col-md-offset-3 call-to-action">
        <form class="main-search well" ng-submit="processForm()">
            <div id="form-views" ui-view></div>
        </form>
    </div>
</div>

<div class="container marketing">
    <div class="row">
        <p>Easy as...</p>
        <div class="col-sm-4">
            <div class="step">1</div>
            <p>Tell us where you are</p>
        </div>
        <div class="col-sm-4">
            <div class="step">2</div>
            <p>Tell us what you want to buy</p>
        </div>
        <div class="col-sm-4">
            <div class="step">3</div>
            <p>We'll tell you where to find the best deal</p>
        </div>
    </div>
</div>
